{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <h1>Enter New Password</h1>
    {% if form.non_field_errors %}
        <p style="background-color: lightcoral;color: darkred;font-weight: bold;padding: 1em; margin: 1em 0;">{{ form.non_field_errors }}</p>
    {% endif %}
    <hr>
    <form method="POST">
        {% csrf_token %}

        <p>
            {{ form.new_password.label_tag }} {% if form.new_password.field.required %} * {% endif %}
            {{ form.new_password }}
            <button type="button" onclick="togglePassword(this);">Show</button>
        </p>

        <input type="submit" name="Change my password" value="Change my password">
    </form>
{% endblock %}

{% block script %}
    <script>
    // Password Show/Hide
    const password_field = document.getElementById('{{ form.new_password.auto_id }}');
    function togglePassword(btn) {
        if (password_field.type == 'password') {
            password_field.type = 'text';
            btn.innerHTML = 'Hide';
        }
        else {
            password_field.type = 'password';
            btn.innerHTML = 'Show';
        }
    }
    </script>
{% endblock %}